<section id="hero" class="d-flex justify-content-center align-items-center">
    <div class="container position-relative" data-aos="zoom-in" data-aos-delay="100">
      <h1>Learning Today,<br>Leading Tomorrow</h1>
      <h2>We are a team of talented mentors who are capable of training programming, Java and interview preparations with having software development experience in reputated MNC companies.</h2>
      <a href="#courses" class="btn-get-started">Get Started</a>
    </div>
  </section><!-- End Hero -->

  <main id="main">

    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="assets/img/about.jpg" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h4>Everybody should learn programming because it teaches you how to think (STEVE JOBS).</h4>
            <ul>
              <li><i class="bi bi-check-circle"></i> The CODE MENTOR not only teaches you a programming language, but
                also teaches you how to write code for the problems.</li>
              <li><i class="bi bi-check-circle"></i> Writing code is not just typing a program in a language, but it is
                the ability to think of a solution to the problem.</li>
              <li><i class="bi bi-check-circle"></i> We are the team who teaches you programming and increases your
                thinking ability.</li>	
            </ul>
            <p>
              We are not only focused on programming language and coding. We also provide interview trainings and
              conduct mock interviews with developers and tech leads.
            </p>

          </div>
        </div>

      </div>
	  <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2>Testimonials</h2>
          <p>What are they saying</p>
        </div>

        <div class="testimonials-slider swiper-container" data-aos="fade-up" data-aos-delay="100">
          <div class="swiper-wrapper">

            <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-4.jpeg" class="testimonial-img" alt="">
                  <h3>Venkateswari</h3>
                  <h4>Java Backend Engineer (Wipro)</h4>
                  <p class="justfy-align">
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    It would be impossible to count all the ways that Rajendra helped me as a mentor and programming
                    trainer in my career. Thank you so much for all that you have done.
                    Thanks for being a good mentor and for guiding me on the right path. I will always be thankful to
                    you. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
				          <a href="https://www.linkedin.com/in/venkateswari-parimi-228990179/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End testimonial item -->

	    
			<div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-3.jpeg" class="testimonial-img" alt="">
                  <h3>Swetha</h3>
                  <h4>Software Engineer (Atos Syntel)</h4>
                  <p class="justfy-align">
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    A mentor is someone who sees more talent and ability within you, than you see in your self, and
                    brings it out of you. This was true still I remember the day where I was not able to write even or
                    odd programs now capable of developing JAVA APIs. I can do nothing but to thank you Rajendra for all
                    your great efforts to guide me through correct path. you have been a great mentor always. Thank you
                    for your support, patience, and advice.
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
				  <a href="https://www.linkedin.com/in/swetha-alapati-04a90821b/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End testimonial item -->		
			
			 <div class="swiper-slide">
              <div class="testimonial-wrap">
                <div class="testimonial-item">
                  <img src="assets/img/testimonials/testimonials-1.jpg" class="testimonial-img" alt="">
                  <h3>Durgesh</h3>
                  <h4>Software Engineer (EPAM)</h4>
                  <p class="justfy-align">
                    <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                    If you are good at basic or intermediate level, they will teach you advanced programming and
                    job-oriented training with interview preparations in the very short span. Really great choice if you
                    want to learn programming or Java. 
                    <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                  </p>
				  <a href="https://www.linkedin.com/in/durgesh-vantedu-9841ab117/"><i class="bi bi-linkedin"></i></a>
                </div>
              </div>
            </div><!-- End testimonial item -->
          </div>
        </div>
      </div>
    </section>
    </section>
  </main>	
	